<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Modern CSS</title>
  <link rel="stylesheet" type="text/css" 
        href="{{ url_for('static', filename='csstest1.css')}}" >  
</head>
<body>
  <header>This is the header.</header>
  <main>
    <h1>This is the main content.</h1>
    <p>Lorem ipsum dolor sit amet, consecteteur adipiscing elit, sed diam nomummy nibh</p>
  </main>
  <nav>
    <h4>This is the navigation section.</h4>
    <p>Lorem ipsum dolor sit amet, consecteteur adipiscing elit, sed diam nomummy nibh</p>    
  </nav>
  <aside>
    <h4>This is an aside section.</h4>
    <p>Lorem ipsum dolor sit amet, consecteteur adipiscing elit, sed diam nomummy nibh</p>        
  </aside>
  <footer>This is the footer.</footer>
</body>
</html>
