need to scrape this
https://www.accuweather.com/en/us/los-altos-ca/94022/weather-forecast/337133

<h2>Off road</h2>
<p><a href="https://www.openspace.org/visit-a-preserve/trail-conditions">Midpeninsula Open Space trail conditions</a>
  </p>
<p><a href="https://openspace.org/preserves/fremont-older">Fremont Older trail status</a></p>
<p><a href="https://www.cityofpaloalto.org/gov/depts/csd/parks/preserves/arastradero/seasonal_trail_status.asp">Arastradero Preserve trail conditions</a></p>
<p><a href="http://parks.smcgov.org/san-mateo-county-park-advisories">San Mateo County Parks advisories</a></p>
<p><a href="https://www.sccgov.org/sites/parks/Pages/Closures.aspx">Santa Clara County Parks closures</a></p>

<h2>Road</h2>
<p><a href="http://www.dot.ca.gov/cgi-bin/roads.cgi">CalTrans road conditions</a></p>
<p><a href="https://www.sccgov.org/sites/rda/RT/Pages/stormdamage.aspx">Santa Clara County road work for storm damage</a></p>
<p><a href="https://www.sccgov.org/sites/rda/Pages/roadclosures.aspx">Santa Clara County road closures</a></p>
<p><a href="http://publicworks.smcgov.org/our-projects">San Mateo Conty road work status</a></p>
 
