<header>
</header>
<body>
  
  <p>
    <a data-flickr-embed="true"  href="https://www.flickr.com/photos/swoo/22394278110/in/dateposted-public/" title="Bella Vista on a clear day"><img src="https://farm1.staticflickr.com/749/22394278110_da37388f82_b.jpg" width="1024" height="220" alt="Bella Vista on a clear day"></a><script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>
    </p>
  <p>
    <a href="/cycling">
          Useful links for cycling in and near Silicon Valley</a>
    <script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>

  </p>
  <p>
  </p>
</body>
