<!DOCTYPE html>
<html lang="en-us">
  <head>
    <title>Reading list</title>        
</head>
<body>
  placeholder for recent readings on the web<br />
  
  using postgresql full text search instead of elastic search
  stuff I'm learning right now
  <a href="https://www.digitalocean.com/community/tutorials/how-to-serve-flask-applications-with-gunicorn-and-nginx-on-ubuntu-16-04">Setting up flask app on ubuntu/nginx</a><br />
  
  <a href="https://developer.android.com/training/testing/ui-testing/espresso-testing.html">android testing</a><br/>
  <a href="https://impythonist.wordpress.com/2015/07/12/build-an-api-under-30-lines-of-code-with-python-and-flask/">using flask/python to build api</a><br/>
</body>
