<!doctype html>
<title>Resume for Steven Woo</title>
<p>Contract Programmer<br />
<p>2010 - present<br />
Part of team to create Android app with Java and the server API with Ruby on Rails for karmist.org.<br />
Write and design all android code in Java including custom crash logging to server, first pass on IOS app in Objective C, create web server/mobile API using Ruby on Rails for CRUD app with search/chat/notifications, create web front end using JavaScript/HTML of business/deal/event directory for Sección Amarilla.  Created custom libraries in Objective-C for IOS and in Java for Android.   Current server at https://miapp.com.  Assist in debugging IOS/Android issues.<br />
Part of team to create IOS apps for phone/tablet for Bay Area News Group/Mercury News.  Worked in Objective-C to create applications/libraries and also wrote the API/web server in PHP.  Assist in debugging IOS issues.<br />
</p>

<p>Namco Bandai<br />
October 2006 - October 2009<br />
Principal Programmer<br />
Research and development of video games for consoles.<br />
Programming of XBox 360 TCR / PS3 TRC, audio, particle effects, and UI code and tools for Afro Samurai.
</p>

<p>Hyboreal Games
September 2005 - September 2006<br />
Lead Programmer<br />
Design, write, test software. Coordinate and manage outsourcing of programming tasks, integrate external and internally developed software. Used Unreal 2 to build prototype of third person RPG.<br />
</p>
  
<p>Castaway Games<br />
October 2004 - September 2005<br />
Lead Programmer<br />
                    Write technical design documentation, provide technical and management leadership and manage small group of programmers. Used Gamebryo to build prototype that led to publishing deal with Electronic Arts. Switched to Unreal 3 when publishing deal changed.<br />
                    </p>

<p>Blizzard Entertainment<br />
October 1997 - July 2003<br />
Senior Programmer<br />
- Used C and C++ to help create the client server game Diablo 2; the Diablo 2 Expansion for the PC and Mac; and most of the patches.<br />
- For foreign language support wrote: all tools for text/fonts data; IME support for Far East languages( helped put this in all of Vivendi's products ); subsystem for in game text display.<br />
- Created many of the systems for the game user interface.<br />
- Wrote the code for most of the non-AI objects in the game.<br />
- Developed mechanisms for debugging the game with and without the debugger.<br />
- Developed system used for quests so we could add and change quests as quickly as we made content.<br />
- Created initial sound system.<br />
- Wrote tools to automate art tasks and build tasks with C, batch files and Perl.<br />
- Wrote tools for GBA development in ARM assembly<br />
- Developed skinnable, data-driven end user customizeable interfaces.<br />
- All software was written to be data driven, from plain text spread sheets, XML data or SQL databases<br />
</p>
<p>Maxis Entertainment<br />
Programmer<br />
February 1997 - August 1997<br />
- Used C and internal file and graphics libraries to write software for a Windows top down action game.<br />
- Created Win32 level editor; defined low level game objects and routines to manipulate the objects; debugged and enhanced parts of the game engine; and created tools for incorporating art for objects into game data.<br />
- Participated in code reviews.<br />
</p>

<p>Intelliquest Corporation<br />
Senior Programmer<br />
May 1996 - February 1997<br />
- Enhanced and maintained Windows portion of multiplatform library for developing market research surveys in English and almost every foreign language supported by Windows in C++.<br />
- Wrote surveys using library.<br />
- Enhanced and maintained custom language for creating objects so non-programmers could use library without using C++ like a visual programming editor- including multi-threaded tools that communicated with each other, and created stand alone programs from end user input.<br />
 Taught others C++, how to program Windows, how to use our custom language to create surveys.<br />
</p>

<p>VTel Corporation<br />
Staff Engineer<br />
October 1993 - May 1996<br />
- Developed and maintained several versions of Windows videoconferencing software using C and C++ with MFC. and one version with Borland and Zinc framework.<br />
- Did user interface design and implementation.<br />
- Did low level call control PC software to interact with communications board firmware and application layer including debugging output on demand to troubleshoot problems in the field.<br />
- Wrote install software, wrote the manufacturing install<br />
- Designed and wrote software interface for meshing current and future third party network hardware with: our hardware, other third party hardware and several layers of software.<br />
- Worked on error logging and debug support for custom message system.<br />
- Taught other programmers how to write and debug Windows programs in C/C++ using Visual C++/MFC/Win32 SDK.<br />
- Wrote tools to test and debug all software locally and remotely.<br />
- Used oscilloscope and logic analyzer to debug hardware/software problems.<br />
</p>

<p>Eyesys Technologies<br />
Head Software Engineer<br />
January 1991 - September 1993<br />
- Developed software in C and assembly for leading medical imaging product in ophthalmology including: custom and 3rd party database support; image processing; graphics display of raw and processed data in several formats.<br />
- Worked with marketing and sales on UI design and implementation.<br />
- Worked on system accuracy, precision and performance; project configuration management; Windows install.<br />
- Wrote device drivers for custom printer card and frame grabber.<br />
- Developed event driven software for user interface for processing mouse, keyboard, joystick, screen drawing and device IO concurrently.<br />
- Developed software, tools and firmware for prototype multiprocessor system( it used one i960 and two 186's) with a single joystick controller and NTSC output monitor which replicated our original PC DOS product's functionality.<br />
- Managed small software group.<br />
- Used oscilloscope and logic analyzer to debug hardware/software interaction problems.<br />
</p>
