<!DOCTYPE html>
<html lang="en-us">
<head>
    <title>my notes on server setup</title>
</head>
<body>
  <h1>Ruby on Rails</h1>
  setting up server
 
  gems

  use pghero for postgres analysis
  use geocoder for dist calculations with lat lng
  rubocop for static analysis
  postgis to  use postgresql gis
  
  <br />
  some debugging tips
  <br />
  gem 'rbtrace'
  gem 'stackprof', require: false
  https://samsaffron.com/archive/2018/01/18/my-production-ruby-on-rails-cpu-is-at-100-now-what
  <br />
  <h1>Python/Flask</h1>
  setting up server
  libraries
</body>
